* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle, white, #258cfb);
}

h1 {
  text-align: center;
  font-size: 35px;
  color: black;
  text-decoration: underline;
}

.pokedex {
  margin-top: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 550px;
  width: 500px;
  background-color: rgb(146, 21, 21);
  border: 1px solid #dcdcdc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

img#pokemonImage {
  height: auto;
  width: 180px;
  background-color: white;
  margin-top: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

button {
  color: #fff;
  border: none;
  cursor: pointer;
}

button#decreaseButton,
button#increaseButton {
  background-color: #007bff;
  margin: 0 30px;
  font-size: 50px;
  padding: 10px;
  width: 100px;
}

button#resetButton {
  background-color: #dc7200;
  font-size: 30px;
  padding: 5px;
}

button:hover {
  transform: scale(1.1);
}

button#decreaseButton:hover,
button#increaseButton:hover {
  background-color: #0092eb;
}

.attributes {
  display: flex;
  flex-direction: column;
}

#pokemonName {
  margin-top: 15px;
  font-size: 30px;
  color: white;
  background-color: #007bff;
  padding: 10px 10px;
}

#pokemonName:hover {
  border: 3px solid #dc7200;
  padding: 7px;
}

.skills {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  font-size: 26px;
  color: white;
  background-color: #dc7200;
  width: 300px;
  padding: 15px;
}

.skills:hover {
  border: 3px solid #007bff;
  padding: 11px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 26px;
  }
  .pokedex {
    width: 350px;
  }
  img#pokemonImage {
    height: auto;
    width: 180px;
  }
  button#decreaseButton,
  button#increaseButton {
    margin: 0 15px;
    width: 70px;
  }

  button#resetButton {
    font-size: 25px;
  }
  #pokemonName {
    font-size: 26px;
  }

  .skills {
    font-size: 20px;
    width: 220px;
    padding: 14px;
  }
  .skills:hover {
    border: 3px solid #007bff;
    padding: 11px;
  }
}
